@font-face {
  font-family: 'ClearFace';
  src: url('../asset/fonts/ClearfaceStd-Regular.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MaisonNeue';
  src: url('../asset/fonts/MaisonNeueLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'MaisonNeue';
  src: url('../asset/fonts/MaisonNeueBook.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MaisonNeue';
  src: url('../asset/fonts/MaisonNeueBold.ttf');
  font-weight: 600;
  font-style: normal;
}


.main {
  font-family: MaisonNeue, sans-serif;
}

.hero {
  background-color: rgb(var(--highlight-container-rgb));
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 50px;

  @media(min-width: 1415px) {
    flex-direction: row;
    padding: 50px;
  }

  &__titleContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    color: rgb(var(--heading-rgb));

    &__title {
      font-family: ClearFace, serif;
      font-size: 32px;
      @media(min-width: 786px) {
        font-size: 48px;
      }
      margin-bottom: 0;
    }
    &__subtitle {
      font-size: 14px;
      @media(min-width: 786px) {
        font-size: 18px;
      }
      font-weight: 400;
      line-height: 150%;
      color: rgb(var(--heading-rgb));
      opacity: .75;
    }
  }

  &__titleSubcontainer {
    min-width: 350px;

    @media(max-width: 1415px) {
      text-align: center;
    }
    &__subtitle {
      font-size: 18px;
    }
  }

  &__cardsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    @media(max-width: 786px) {
      flex: 1;
    }
    @media(min-width: 787px) and (max-width: 1415px) {
      flex-direction: row;
      margin-top: 22px;
      column-gap: 24px;
    }
    @media(min-width: 1415px) {
      flex: 1;
    }
  }
}

/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}
